<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <a href="../controller/profile.php">Back</a>
    <h5 id=response></h5>
    <form id="about_form">
        <input type="text" id="dob" placeholder="Date Of Birth"><br><br>
        <input type="text" id="city" placeholder= "city"><br><br>
        <input type="text" id="bio" placeholder="Bio"><br><br>
        <input type="text" id="address" placeholder="address"><br><br>
        <input type="text" id="relationship" placeholder="relationship"><br><br>
        <input type="text" id="country" placeholder="country"><br><br>
        <input type="text" id="edu" placeholder="edu"><br><br>
        <button type="submit" name="submit">update</button>
    </form>
    <script src="about_form.js"></script>
</body>
</html>