<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebBook Login</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <header class="header">
        <h1>WebBook</h1>
    </header>
    <div class="container">
        <form action="signup.html" method="post" >
            <button class="signup-btn" name="signup">SignUp</button>
        </form>
        <div class="login-box">
            <h2 id="response"></h2>
            <h2>Login To My WebBook</h2>
            <form id="loginForm" name="loginForm">
                <input type="text" id="email" name="email" placeholder="email" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button type="submit" name="login" class="login-btn">Login</button>
            </form>
        </div>
    </div>
    <script src="login.js"></script>
</body>

</html>
